.tabs-panel-active {
    background-color: #4f545c99;
    border-radius: 6px;
    padding: 0 0.5rem;
    color: white;
    margin: 0 0.60rem;
    font-size: 0.9375rem;
  }

  .tabs-panel-inactive {
      color: #b9bbbe;
      margin: 0 0.60rem;
      padding: 0 0.5rem;
      font-size: 0.9375rem;
  }

  .tabs-panel-inactive:hover{
    background-color: #4f545c99;
    border-radius: 6px;
    padding: 0 0.5rem;
    color: white;
    margin: 0 0.60rem;
    font-size: 0.9375rem;
  }

  .panel-active {
      background-color: transparent;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #96989D;
      font-weight: 300;
      font-size: 0.95rem;

  }

  .panel-active-all {
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #96989D;
    font-weight: 300;
    font-size: 0.95rem;
    padding-top: 5.5rem;

}

  .panel-inactive{
      display: none;
  }