.tabs-panel-active {
    background-color: #4f545c99;
    border-radius: 6px;
    padding: 0 0.5rem;
    color: white;
    margin: 0 0.75rem;
  }

  .tabs-panel-inactive {
      color: #b9bbbe;
      margin: 0 0.75rem;
      padding: 0 0.5rem;
  }

  .panel-active {
      
  }